:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  height: 100%;
}

body {
  color: #222;
  line-height: 2rem;
}

.v-height-full {
  height: 100vh;
}

.feature-items {
  border-bottom-color: #3c6b4d;
  border-bottom-width: 1.25px !important;
  p {
    span {
      b {
        color: #3c6b4d;
      }
    }
  }
}

.contact {
  a {
    font-weight: bold;
    color: #222;
  }
}

.logo {
  text-align: center;
  position: relative;
  max-width: 145px;
  /* padding-bottom: 86.55172413793103%; */
  width: 100%; /* or any specific width */
  height: 125.5px; /* or any specific height */
  overflow: hidden;
  position: relative;
  img {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on your needs */
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 960px) {
  .mobile {
    display: block !important;
    height: 100%;
    text-align: center;
    padding: 1rem 2rem;
    .intro {
      display: block !important;
    }
    .headline {
      padding-left: 0 !important;
    }
    .services {
      text-align: left;
    }
    .logo {
      min-width: auto;
      margin: auto;
      img {
        /* max-width: 66%; */
      }
    }
  }
}
