:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #222;
}

.v-height-full {
  height: 100vh;
}

.feature-items {
  p {
    line-height: 2rem;
  }
}

.contact {
  a {
    font-weight: bold;
    color: #222;
  }
}

.logo {
  text-align: center;
  position: relative;
  width: 145px;
  height: 125.5px;
  margin-right: 4rem !important;
  img {
    max-height: 100%;
    max-width: 290px;
    margin: auto;
    display: inline-block;
  }
}

@media screen and (max-width: 960px) {
  .mobile {
    display: block !important;
    height: 100%;
    text-align: center;
    padding: 1rem;
    .logo {
      margin-right: auto !important;
      img {
        /* max-width: 66%; */
      }
    }
  }
}
